@layer fonts {
  @font-face {
    font-family: 'Barlow';
    src: url('./../assets/fonts/barlow-medium.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('./../assets/fonts/barlow-bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('./../assets/fonts/barlow-black.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 900;
  }
}