@layer reset {
  html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    min-block-size: 100vh;
    min-block-size: 100dvh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :where(body,
    h1, h2, h3, h4, h5, h6,
    p,
    ul, ol,
    dl, dd,
    figure,
    blockquote) {
    margin: 0;
  }

  :where(ul, ol) {
    padding: 0;
    list-style: none;
  }

  canvas,
  img,
  picture,
  svg,
  video {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
    color: inherit;
  }

  button {
    cursor: pointer;
    border: none;
  }

  fieldset {
    padding: 0;
    border: 0;
  }

  legend {
    padding: 0;
  }

  a {
    color: inherit;
  }

  :focus-visible {
    outline: 2px solid Highlight;
    outline-offset: 3px;
  }

  @media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
      animation: none;
      transition: none;
      scroll-behavior: auto;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}