@layer tokens {
  :root {
    --color-neutral-900: #162542;
    --color-neutral-400: #5D6D8F;
    --color-neutral-200: #E8EFF2;
    --color-neutral-100: #FFFFFF;
    --color-primary-500: #F16718;
    --color-primary-300: #FF9B62;

    --color-text-heading: var(--color-neutral-900);
    --color-text-body: var(--color-neutral-400);
    --color-text-inverse: var(--color-neutral-100);
    --color-surface-default: var(--color-neutral-100);
    --color-surface-muted: var(--color-neutral-200);
    --color-surface-accent: var(--color-primary-500);

    --space-0: 0;
    --space-025: 0.125rem;
    --space-050: 0.25rem;
    --space-075: 0.375rem;
    --space-100: 0.5rem;
    --space-125: 0.625rem;
    --space-150: 0.75rem;
    --space-200: 1rem;
    --space-250: 1.25rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-500: 2.5rem;
    --space-600: 3rem;
    --space-800: 4rem;
    --space-1000: 5rem;

    --radius-025: 0.125rem;
    --radius-100: 0.5rem;
    --radius-200: 1rem;
    --radius-250: 1.25rem;

    --ff-base: 'Barlow', system-ui, sans-serif;

    --fw-black: 900;
    --fw-bold: 700;
    --fw-medium: 500;

    --fs-100: 0.825rem;
    --fs-200: 1rem;
    --fs-300: clamp(1rem, .7rem + 1.25vw, 1.125rem);
    --fs-400: 1.5rem;
    --fs-500: 2rem;
    --fs-600: clamp(3rem, 2.25rem + 3.2vw, 3.5rem);
  }
}