@layer tokens {
  :root {
    --color-neutral-900: #162542;
    --color-neutral-400: #5D6D8F;
    --color-neutral-200: #E8EFF2;
    --color-neutral-100: #FFFFFF;
    --color-primary-500: #F16718;
    --color-primary-300: #FF9B62;

    --color-text-heading: var(--color-neutral-900);
    --color-text-body: var(--color-neutral-400);
    --color-text-inverse: var(--color-neutral-100);
    --color-surface-default: var(--color-neutral-100);
    --color-surface-muted: var(--color-neutral-200);
    --color-surface-accent: var(--color-primary-500);

    --space-0: 0;
    --space-025: 2px;
    --space-050: 4px;
    --space-075: 6px;
    --space-100: 8px;
    --space-125: 10px;
    --space-150: 12px;
    --space-200: 16px;
    --space-250: 20px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-800: 64px;
    --space-1000: 80px;

    --radius-100: 8px;
    --radius-200: 16px;
    --radius-250: 20px;

    --ff-base: 'Barlow', system-ui, sans-serif;

    --fw-black: 900;
    --fw-bold: 700;
    --fw-medium: 500;

    --fs-100: .85rem;
    --fs-200: 1rem;
    --fs-300: clamp(1rem, .7rem + 1.25vw, 18px);
    --fs-400: 24px;
    --fs-500: 32px;
    --fs-600: clamp(48px, 2.25rem + 3.2vw, 56px);
  }
}